#principal{
    border: 1px solid red;
}

#placar{
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#jogador, #computador{
    flex-grow: 1;
}

#jogador{
    background-color: red;
}

#versus{
    background-color: blue;
}

#computador{
    background-color: green;
}

#mensagem{
    border: 1px solid green;
}