* {
    font-family: Helvetica Neue, Halvetica, Arial;
    font-weight: 400;
    cursor: default;
}

#principal{

}

#titulo{
    text-align: center;
    color: #2d3436;
}

#placar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#jogador, #computador{
    position: relative;
    flex-grow: 1;
    color: #fff;
    border-radius: 20px;
    padding: 20px;
}

#jogador h2, #computador h2{
    margin: 0;
    padding: 0;
}

#jogador{
    background-color: #ff7675;
}

#jogador-nome, #computador-nome{
    font-size: 24px;
}

#jogadorpontos, #computadorpontos{
    position: absolute;
    top: 8px;
    font-size: 52px;
}

#jogadorpontos{
    right: 20px;
}

#computador-nome{
    text-align: right;
}

#jogador #jogador-escolha, #computador #computador-escolha{
    list-style: none;
    text-align: center;
    margin: 30px 0 0;
    padding: 0;
}

#jogador #jogador-escolha li, #computador #computador-escolha li{
    display: inline-block;
    padding: 0 15px;
}

#jogador #jogador-escolha img, #computador #computador-escolha img{
    opacity: .2;
}

#jogador #jogador-escolha img:hover, #computador #computador-escolha img:hover{
    opacity: 1;
}

#jogador #jogador-escolha img, #computador #computador-escolha img{
    transition: 0.3s;
    max-width: 80px;
}

#computador{
    background-color: #3498db;
}

#versus{
    font-size: 80px;
    padding: 0 40px;
}


#mensagem{
    background-color: #636e72;
    border-radius: 20px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin: 20px 0;
    padding: 20px;
}